* {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.login__wrapper {
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative;
  z-index: 0;
}

.login__bg {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}

.login__wrapper_bg {
  background-size: cover;
  display: block;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.login__wrapper_img {
  min-height: 100%;
  min-width: 100%;
}

.login__header {
  background: linear-gradient(180deg,rgba(0,0,0,.5) 0,transparent);
  border-bottom: transparent;
  left: 0;
  top: 0;
  width: 100%;
}

.login__logo img {
  display: inline-block;
  line-height: 90px;
  height: 90px;
  text-decoration: none;
  vertical-align: middle;
  margin-left: 3%;
}

.login__body {
  background-color: transparent;
  min-height: 100vh;
  color: #333;
  margin: 0 auto;
  padding: 0 5%;
}

.login__body > div {
  background-color: rgba(0,0,0,.75);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 450px;
  padding: 60px 68px 40px;
}

.login__content {
  min-height: 660px;
  margin-bottom: 90px;
}

.login__form_main {
  flex-grow: 1;
}

.login__form_main h1 {
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  width: 100%;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.form input {
  width: 100%;
  height: 135%;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  outline: none;
  border: none;
}

.form label {
  margin: 0;
}

.hero__form_label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.hero__form_span {
  color: #8c8c8c;
  position: absolute;
  font-size: 16px;
  left: 20px;
  bottom: 12px;
  transition: all .3s ease;
}

.form input:focus+.hero__form_label .hero__form_span,
.form input:valid+.hero__form_label .hero__form_span {
  transform: translateY(-80%);
  font-size: 14px;
  transition: all .3s ease;
}

.login__btn {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  margin: 24px 0 12px;
  width: 100%;
  padding: 16px;
  color: white;
  background-color: #e50914;
  cursor: pointer;
}

.login__btn_link {
  color: white;
  font-weight: 600;
  text-decoration: none;
  padding: 1rem 5rem;
}

.login__btn_link:hover {
  text-decoration: none;
  color: white;
}

.login__help {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.login__remember_me {
  display: flex;
}

.login__remember_me input{
  margin-right: 5px;
}

.login__remember_me label{
  margin: 0;
}

.login__remember_me_span {
  color: #b3b3b3;
}

.login__help_link {
  color: #b3b3b3;
  text-decoration: none;
}

.login__help_link:hover {
  color: #b3b3b3;
  text-decoration: none;
}

.login__form_other {
  font-family: Arial, Helvetica, sans-serif;
}

.login__signup_now {
  color: #737373;
  font-size: 16px;
  font-weight: 400;
  margin-top: 3rem;
}

.login__signup_now a {
  color: white;
  text-decoration: none;
}

.login__recaptcha {
  color: #8c8c8c;
  font-size: 13px;
  margin-top: 11px;
}

.login__recaptcha_btn {
  background-color: transparent;
  border: none;
  color: #0071eb;
  cursor: pointer;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
}

.login__recaptcha_span {
  padding: 4rem;
}
