.hero__form {
  max-width: 950px;
  padding-top: 0.85rem;
  margin: 0 auto;
}

.hero__form h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  margin: 0;
  padding-bottom: 20px;
  max-width: none;
}

.hero__form_email {
  display: flex;
  justify-content: center;
  background: transparent;
}

.form {
  width: 100%;
  height: 60px;
  max-width: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #8c8c8c;
}

.form input {
  width: 100%;
  height: 100%;
  background: rgb(27 21 19 / 75%);
  color: white;
  padding: 10px 10px;
  outline: none;
  border: none;
}

.hero__form_label {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.hero__form_span {
  position: absolute;
  font-size: 16px;
  left: 5px;
  bottom: 15px;
  transition: all .3s ease;
}

.form input:focus + .hero__form_label .hero__form_span,
.form input:valid+.hero__form_label .hero__form_span {
  transform: translateY(-120%);
  font-size: 14px;
  transition: all .3s ease;
}

.hero__form_btn {
  display: flex;
  align-items: center;
  min-height: 3.4rem;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  background-color: #e50914;
  border: 1px solid #e50914;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

.hero__form_btn span:last-child {
  margin-left: 10px;
  vertical-align: middle;
}
