
.container {
  width: 100%;
  overflow-x: hidden;
}

.hero__bg {
  height: 100vh;
  background: rgba(0,0,0,.4);
  background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8));
  border-bottom: 8px solid #222;
}


.hero__bg_opacity {
  position: relative;
  background-image: url('../../assets/bg.jpg');
  height: 105vh;
  object-fit: cover;
  background-size: cover;
  z-index: -1;
  top: -100px;
}

.nav__container {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 3.5rem;
  padding-top: 0.5rem;
  z-index: 10;
}

.nav__container > div {
  padding-top: 20px;
}

.nav__span{
  margin-right: auto;
  height: 2.8125rem;
}

.nav__span img {
  width: 206px;
}

.nav__select_container {
  display: inline-block;
}

.nav__select_container svg {
  height: 20px;
  position: absolute;
  margin-top: 7px;
  margin-left: 5px;
}

.nav__select {
  padding-left: 1.375rem;
  margin-right: 2rem;
  background-color: #00000097;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  height: 2.2rem;
}

.nav__button {
  background-color: #e50914;
  float: right;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  padding: 8px 17px;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  font-family: Helvetica, sans-serif;
}

.hero__card {
  margin: 0 auto;
  max-width: 950px;
  padding: 150px 0 75px 0;
  position: relative;
  top: -720px;
  color: white;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.hero__card h1 {
  margin: 0 auto;
  max-width: 800px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
}

.hero__card h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.625rem;
  font-weight: 400;
}

.watchTv,
.download,
.device,
.kids{
  padding: 70px 45px;
  background-color: black;
  border-bottom: 8px solid #222;
}

.watchTv__container,
.download__container,
.device__container,
.kids__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1100px;
}

.download__container,
.kids__container {
  flex-direction: row-reverse;
}

.watchTv__text,
.device__text {
  padding: 0 3rem 0 0;
  width: 52%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.download__text,
.kids__text {
  padding: 0 0 0 3rem;
  width: 52%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.watchTv__text h1,
.download__text h1,
.device__text h1,
.kids__text h1 {
  font-size: 3.125rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.kids__text h1 {
  margin-top: 0;
}

.watchTv__text h2,
.download__text h2,
.device__text h2 {
  font-size: 1.625rem;
  font-weight: 400;
}

.kids__text h2 {
  font-size: 1.630rem;
  font-weight: 400;
}
.download__text h2 {
  padding: 0 .5em 0 0;
}

.watchTv__img_container,
.device__img_container,
.kids__img_container {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 48%;
}

.watchTv__img_animation,
.device__img_animation,
.kids__img_animation {
  overflow: hidden;
  position: relative;
  margin: -10% -5% -5% 0;
}

.watchTv__img_animation img,
.device__img_animation img,
.kids__img_animation img {
  z-index: 2;
  border: 0;
  height: auto;
  position: relative;
  max-width: 100%;
}

.device__card_animation {
  height: 100%;
  left: 50%;
  max-height: 47%;
  max-width: 63%;
  position: absolute;
  top: 34%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.device__card_animation video {
  height: 100%;
  width: 100%;
}

.card_animation {
  height: 100%;
  left: 50%;
  max-height: 54%;
  max-width: 73%;
  position: absolute;
  top: 48%;
  transform: translate(-50%,-50%);
  width: 100%;
}

.card_animation video {
  height: 100%;
  width: 100%;
}

.download__img_container {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 48%;
}

.download__img_animation {
  overflow: hidden;
  position: relative;
  margin: -8% 0 -4% -15%;
  min-height: 100px;
  width: 100%;
}

.download__img_animation img {
  border: 0;
  height: auto;
  max-width: 100%;
}

.download__card_animation {
  padding: 0.5em 0.75em;
  align-items: center;
  background: #000;
  border: 2px solid hsla(0,0%,100%,.25);
  border-radius: 0.75em;
  bottom: 8%;
  box-shadow: 0 0 2em 0 #000;
  display: flex;
  left: 50%;
  margin: 0 auto;
  min-width: 15em;
  position: absolute;
  transform: translateX(-50%);
  width: 60%;
}

.download__card__img {
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 1em 0 0;
}

.download__card__img img {
  height: 5em;
}

.download__card__text {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0.3em 0;
  font-family: Arial, Helvetica, sans-serif;
}

.download__card__text p {
  margin: 0;
}

.download__card__text p:first-child {
  color: white;
  font-weight: bold;
  font-size: 1em;
}

.download__card__text p:last-child {
  color: #0071eb;
  font-size: .9em;
  font-weight: 400;
}

.download__custom_animation {
  background: url('https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif') 50% no-repeat;
  background-size: 100%;
  content: "";
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  height: 3em;
  outline: 2px solid #000;
  outline-offset: -2px;
  width: 3em;
}
