
.container {
  width: 100%;
  overflow-x: hidden;
}

.hero__bg {
  height: 100vh;
  background: rgba(0,0,0,.4);
  background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8));
}


.hero__bg_opacity {
  position: relative;
  background-image: url('../../assets/bg.jpg');
  height: 105vh;
  object-fit: cover;
  background-size: cover;
  z-index: -1;
  top: -100px;
}

.nav__container {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 3.5rem;
  padding-top: 0.5rem;
  z-index: 10;
}

.nav__container > div {
  padding-top: 20px;
}

.nav__span{
  margin-right: auto;
  height: 2.8125rem;
}

.nav__span img {
  width: 206px;
}

.nav__select {
  padding-left: 1.375rem;
  padding-right: 1.375rem;
  margin-right: 2rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  height: 2rem;
}

.nav__button {
  background-color: #e50914;
  float: right;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  padding: 7px 17px;
  text-decoration: none;
  color: white;
  font-family: Helvetica, sans-serif;
}

.hero__card {
  margin: 0 auto;
  max-width: 950px;
  padding: 150px 0 75px 0;
  position: relative;
  top: -720px;
  color: white;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.hero__card h1 {
  margin: 0 auto;
  max-width: 800px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
}

.hero__card h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.625rem;
  font-weight: 400;
}

.hero__form {
  max-width: 950px;
  padding-top: 0.85rem;
}

.hero__form h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  margin: 0;
  padding-bottom: 20px;
  max-width: none;
}

.hero__form_email {
  display: flex;
  justify-content: center;
}

.hero__form_input > input{
  min-height: 70px;
  min-width: 500px;
}

.hero__form_btn {
  font-size: 1.875rem;
  min-height: 70px;
  background-color: #e50914;
  border: 1px solid #e50914;
  color: white;
  padding: 0 .8em;
}

.hero__form_btn span:last-child {
  margin-left: 10px;
  vertical-align: middle;
}