.container {
  display: flex;
}

.title {
  color: white;
  font-size: 22px;
}

.img {
  background-size: cover;
  background-position: center;
  height: 230px;
  margin: 0 .5rem .3rem 0;
  border-radius: 3px;
}

