.body {
  margin: 2rem 0;
}

.container {
  display: flex;
  min-width: 1410px;
  margin: 0 -15px;
}
.card{
  margin: 0 5rem 0 0 ;
}
.title {
  color: white;
  font-size: 22px;
}

.img {
  background-size: cover;
  background-position: center;
  width: 230px;
  margin: 0 .5rem .3rem 0;
  border-radius: 3px;
}

.swiperr,
.swiper-button-prev,
.swiper-button-next {
  margin-right: 10px !important;
  color: white !important;
}

.swiper-button-prev:hover {
  background-color: #000000bf;
  padding: 173px 30px;
  position: absolute;
  top: 22px;
  left: -6px;
}

.swiper-button-next:hover {
  background-color: #000000bf;
  padding: 173px 30px;
  position: absolute;
  top: 22px;
  right: -12px;
}
